.md-card {

  width: 70%;
  height: 50%;
  margin: 25px 0;
  overflow: unset;

  border-radius: $border-radius-base;
  color: $mdb-card-body-text;

  .title {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .md-card-header {
    @include shadow-big();
    margin: -20px $margin-base 0;
    border-radius: $border-radius-base;
    padding: $padding-base;
    background-color: $gray-color;
    height: 1%;


    &.card-chart {
      padding: 0;
      min-height: 60px;

      + .content {
        h7 {
          margin-top: 0;
        }
      }
    }
    
  }

  .md-card-actions {
    margin: 0 20px 10px;
    padding: 10px 0 0 0;
    border-top: 1px solid #eeeeee;

    .content {
      display: inline-flex;
    }

    div {
      display: inline-flex;
    }
    .author {
      color: $gray-color;
    }
    .stats {
      line-height: 22px;
      color: $gray-color;
      font-size: $font-size-small;

      .md-icon.md-theme-default.md-icon-font {
        position: relative;
        top: -1px;
        font-size: $font-paragraph + 2 !important;
        color: $gray-light;
      }
    }

    h6 {
      color: $gray-color;
    }
  }

  img {
    width: auto;
    height: auto;
  }

}

.md-card-stats {
  .title {
    margin: 0;

    small {
      color: $gray-color;
      font-size: 65%;
      line-height: 1;
      font-weight: 400;
    }
  }
  .md-card-header {
    float: left;
    text-align: center;

    i {
      font-size: 36px !important;
      line-height: 56px;
      width: 56px;
      height: 56px;
      color: $white-color !important;
    }
  }
  .md-card-content {
    text-align: right;
    padding-top: 10px;
  }
}

.card-nav-tabs {
  .header-raised {
    margin-top: -$margin-base * 2;
  }
  .nav-tabs {
    background: transparent;
    padding: 0;
  }
  .nav-tabs-title {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px;
  }
}

.md-card-plain {
  background: transparent !important;
  box-shadow: none !important;

  .md-card-header {
    margin-left: 0;
    margin-right: 0;
  }
  .content {
    padding-left: 5px;
    padding-right: 5px;
  }

  .card-image {
    margin: 0;
    border-radius: $border-radius-base;

    img {
      border-radius: $border-radius-base;
    }
  }
}

.iframe-container {
  margin: 0 -20px 0;

  iframe {
    width: 100%;
    height: 500px;
    border: 0;
    @include shadow-big();
  }
}

.md-card-profile,
.card-testimonial {
  margin-top: 30px;
  text-align: center;

  .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
  }

  .md-card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;

    @include shadow-big();

    & + .md-card-content {
      margin-top: 15px;
    }
  }

  &.md-card-plain {
    .card-avatar {
      margin-top: 0;
    }
  }
}
